<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Producto</title>
</head>
<body>
    <h1>¿Está seguro que desea eliminar el producto?</h1>
    <p>Código: <%= producto.codigo %></p>
    <p>Nombre: <%= producto.QueVende %></p>
    <form action="/crearProducto/eliminar/<%= producto.codigo %>" method="POST">
        <button type="submit">Eliminar</button>
        <a href="/inventario">Cancelar</a>
    </form>
</body>
</html>
